// fonts
$main-font: 'Josefin Sans', sans-serif;
$second-font: 'Aleo', serif;
// colors
$white: #fff;
$dark-blue: #0030ff;
$blue: #5373FD;
$light-blue: #486BFE;
$blue-hover: #2049ff;
$grey: #999999;
$shaft: #232323;
$mineshaft: #333333;
$black:#000;
$light-gradient-blue:#2f55ff;
$dark-gradient-blue:#0033ff;